html{
  body{
    width: 100%;
    height: 100%;
  }
}

h1, h2{
  font-family: 'Raleway';
}

.about{
  background-color: white;
}

img{
  text-align: center;
}

body{
  background-color: white;
  font-family: 'roboto';
}

.about_section{
  padding: 7.5rem 1.5rem;
}