#wrapper{
	width: 1500px;
	height: 700px;
}

.container{
	margin: 100px auto 100px auto;
	border: solid blue thick;
	width: 700px;
	height: 500px;
	background-color: white;
}

body{
	background-image: url(images/background.png);
}

form{
	margin-left: 100px;
	width: 0px;
	margin-bottom: 20px;
	/*border: solid yellow thick;*/
}

.banner{
	height: 239px;
	background-image: url(images/welding_banner.jpg);
	
}

.tBoxs{
	width: 300px;
}

.check{
	margin: 10px 10px 10px 10px;
}

.one{
	padding-left: 50px;
	float: left;
	margin: 0 15px 0 0;
	padding-bottom: 10px;
	width: 200px;
}

.two{
	float: left;
	width: 200px;
	margin: 0 0 0 30px;
	padding-bottom: 10px;
}
