.container{
	-webkit-animation: moveIn 5s 1;
	-moz-animation: moveIn 5s 1;
	animation: moveIn 5s 1;
	-webkit-transition-property: box-shadow;
	-moz-transition-property: box-shadow;
	-webkit-transition-duration: 3s;
	-moz-transition-duration: 3s;
	transition-property: box-shadow;
	transition-duration: 3s;
}

.container:hover{
	box-shadow: 10px 10px 5px black;
}

.logo{
	-webkit-animation: spinning 5s infinite;
	-moz-animation: spinning 5s infinite;
	animation: spinning 5s infinite;
	-webkit-animation-delay: 10s;
	-moz-animation-delay: 10s;
	animation-delay: 10s 1;
}


.secondHeading{
	-webkit-animation: size 5s 1;
	-moz-animation: size 5s 1;
	animation: size 5s 1;
	-webkit-animation-delay: 3s;
	-moz-animation-delay: 3s;
	animation-delay: 3s;
}

@-webkit-keyframes size{
	0%{opacity: scale(0, 0);}
	100%{transform: scale(1.0, 1.0);}
}

@-moz-keyframes size{
	0%{transform: scale(0, 0);}
	100%{transform: scale(1.0, 1.0);}
}

@keyframes size{
	0%{transform: scale(0, 0);}
	100%{transform: scale(1.0, 1.0);}
}

@-webkit-keyframes spinning{
	0%{transform: rotateY(0deg);}
	100%{transform: rotateY(360deg);}
}

@-moz-keyframes spinning{
	0%{transform: rotateY(0deg);}
	100%{transform: rotateY(360deg);}
}

@keyframes spinning{
	0%{transform: rotateY(0deg);}
	100%{transform: rotateY(360deg);}
}

@-webkit-keyframes moveIn{
	0%{transform: matrix(1,0,0,1,-1500,0);}
	25%{transform: matrix(1,-1.30,-0.50,1,-1000,0);}
	50%{transform: matrix(1,0.80,0.20,1,-500,0);}
	75%{transform: matrix(1,2.00,1.10,1,-250,0);}
	100%{transform: matrix(1,0,0,1,0,0);}
}

@-moz-keyframes moveIn{
	0%{transform: matrix(1,0,0,1,-1500,0);}
	25%{transform: matrix(1,-1.30,-0.50,1,-1000,0);}
	50%{transform: matrix(1,0.80,0.20,1,-500,0);}
	75%{transform: matrix(1,2.00,1.10,1,-250,0);}
	100%{transform: matrix(1,0,0,1,0,0);}
}

@keyframes moveIn{
	0%{transform: matrix(1,0,0,1,-1500,0);}
	25%{transform: matrix(1,-1.30,-0.50,1,-1000,0);}
	50%{transform: matrix(1,0.80,0.20,1,-500,0);}
	75%{transform: matrix(1,2.00,1.10,1,-250,0);}
	100%{transform: matrix(1,0,0,1,0,0);}
}

input[type=text] {
  width: 150px;
  -webkit-transition: width .35s ease-in-out;
  transition: width .35s ease-in-out;
}

input[type=text] {
  width: 150px;
  -moz-transition: width .35s ease-in-out;
  transition: width .35s ease-in-out;
}

input[type=text]:focus {
  width: 250px;
}

input[type="checkbox"]:checked {
  height: 20px;
  -webkit-transition: width 1s ease;
  -moz-transition: width 1s ease;
  -o-transition: width 1s ease;
  -ms-transition: width 1s ease;
  transition: width 1s ease;
}

input[type="checkbox"]:checked {
  width: 30px;
}