.control{

    .form-control{
        width: 257px;
        @include smallTablet{
            width:500px;    
        }
        @include tablet{
            width:600px;     
        }
            
    }

    .form-control-textarea{
        width: 257px;

        @include smallTablet{
            width:500px;     
        }
           
        @include tablet{
            width:600px;     
        }
    }
}