/*

    use padding to move over to the left just a little

*/

.bg_custom{

    background-color: $navbar-background-color;
    height: 600px;

    .navbar_custom_mobile{
        background: $navbar-background-color;
    }

    .hero_custom{

        @include tablet{
            height: 426px;
        }

        .hero_custom_container{


            padding: 87px 0 50px 0;

            @include tablet{
                padding: 100px 0 50px 0;
            }

            @include laptop{
                padding: 0 0 50px 0;
            }


            .hero_custom_container_title{

                /*
                    add some font weight

                */
                color: white;
                padding-bottom: 1.5rem;
                font-size: 2.5rem;

                @include tablet{
                    padding-bottom: 3rem;
                    font-size: 3.5rem;
                }
                

            }




            .hero_custom_container_subtitle{

                /*
                    try underline

                */
                color: $navbar-hover-color;
                

                @include laptop{
                    font-size: 2.5rem;
                }

            }
        }

    }
}
