.modal_custom{


    display:flex;

    .modal_custom_bg{
        background-color: $modal-background-background-color;
        opacity: .9;
    }

    .modal_close::before{
        background-color: black;
    }
}