//navigtion for the phone made need to make navigation for all of the other media queries

#navbar{
    background-color: $navbar-background-color;
    color: $navbar-divider-background-color;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0 auto;
    

    #navMenu{
        width: 100%;
        position: fixed;
        background-color: $navbar-background-color;
        text-align: right;
        opacity: .9;
        overflow: inherit;
              
        @include laptop {
            height: 5rem;
            padding: 0 0 3.1rem 0;
            border-bottom: white solid thin;
            display: block;
            overflow: hidden;
            opacity: 1;
        }

        .navbar-item:before{

            @include laptop{
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: $navbar-hover-color;
                visibility: hidden;
                -webkit-transform: scaleX(0);
                transform: scaleX(0);
                @include transition (all 0.3s ease-in-out 0s);
            }

        }

        .navbar-item{
            color: $navbar-item-color;
            text-align: center;
            font-size: 1.1rem;
            background-color: $navbar-background-color;
            margin: 3rem 0 0 0;

            @include phoneMedium{
                font-size: 1.5rem;
                margin-top: 3rem;
                // display: inline-flex;
            }


            @include tablet{
                font-size: 2rem;
            }

            @include laptop{
                display: inline-flex;
                text-align: right;
                color: whitesmoke;
                padding: .7rem 0 .2rem 0;
                margin-top: 1rem;
                font-size: 1rem;
                margin: 1rem 4rem 0 0;
                @include transition(color .5s);
                position: relative;
                text-decoration: none;
                cursor: pointer;
            }
        }

        .navbar-item:nth-last-child(1){

            padding-bottom: 4.5rem;

        }

        //hover for the navbar items going to be the underline
        .navbar-item:hover{
            @include laptop{
                color: $navbar-hover-color;
            }
        }

        .navbar-item:hover:before{
            @include laptop{
                visibility: visible;
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
            }
        }
    }

    .navbar-burger-custom{
        float: right;
        z-index: 30;
        @include tablet{
            margin-right: 1rem;
        }
        @include laptop{
            display: none
        }
        span{
            color: $navbar-burger-color;
        }
    }

    .navbar-burger-custom:active{
        span{
            color: $navbar-burger-color;
        }
    }
}

.collapse {
    @include animation(collapse .5s ease forwards);

  }

  .open {
    @include animation(open .5s ease forwards);
  }

  @include keyframes (collapse){
    from {
        opacity: 1;
        top: 0;
    }
    to {
    opacity: 0;
    top: -73px;
    }
  }

  @include keyframes (open){
    from {
        opacity: 0;
        top: -73px;
      }
    to {
    opacity: 1;
    top: 0;
    }
  }
