/*
    projects
        -change the font and color for the title and the size and wight for the description
        -type a description for the website
        -add a coming soon website
        
*/

.projects-section{

    text-align: center;

    .projects-section_title{
        padding: 1.2rem 0 3rem 0;
        color: #4e4e63;
    }

    .projects-section_title__website{

        font-weight:500;
        font-size: 1.3rem;
        text-decoration: underline;

        @include phoneLarge{
            font-size: 1.5rem;
        }

    }

    .projects-section_description{
        font-size: 1rem;
        line-height: 2rem;

        @include phoneLarge{
            padding: 0 2rem;
        }

        @include tablet{
            padding: 0 3rem;
        }
    }

    .projects-travel_img{
        border-radius: 10px;
        text-align: center;
    }
}