//make the reveal so that it transitions in when scrolled
    //currently fading out at leasure
    //sometimes handler is triggered more than once

.reveal-item{
    opacity: 0;
    @include transition(opacity 1.5s ease-in);
}

.reveal-item--is-visible{
    opacity: 1;
}