// Navigation
$font_start: 1rem;
$font_end: 1.2rem;
$weight: 400;
$color: #9E579D;
$font_family: 'roboto';
$background: none;
$margin_right: 80px;
$margin_top: 20px;
$margin_bottom: 20px;
$navBar-height: 40rem;
$navbar-background-color: #303A52;
$navbar-hover-color: #6b59ef;
$navbar-item-color: white;
$navbar-burger-color: white;
$navbar-divider-background-color: white;
$modal-background-background-color: white;
