//Animation, transition and transformation

@mixin animation($forwards){
    -webkit-animation: $forwards;
    -o-animation: $forwards;
    animation: $forwards;
}

@mixin transition($property){
    -webkit-transition: $property;
    -o-transition: $property;
    transition: $property;
}

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}
